#nav-bar {
	background-color: var(--color-main-darker);
    color: var(--color-white);
    width: 100%;
    position: fixed;
	-webkit-box-shadow: 5px 0px 9px -3px rgba(0,0,0,0.55);
    -moz-box-shadow: 5px 0px 9px -3px rgba(0,0,0,0.55);
    box-shadow: 5px 0px 9px -3px rgba(0,0,0,0.55);
}

.nav-bar__user-div {
    display: flex;
    gap: 0.5rem;
	padding: 14px 15px;
}

a {
  float: left;
  color: var(--color-white);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

a:hover{
  background-color: var(--color-main-lighter);
  color: white;
}

.nav-bar__page-list ul li a:hover, 
.nav-bar__page-list ul li a.active {
    background: var(--color-main-lighter);
	color: white;
}

.nav-bar__page-list ul li{
    list-style: none;
}


.page-icon {
    margin-right: 10px;
    color: var(--color-white);
}

.float-right {
  float: right;
  display:flex;
}